<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @blog.titulo %>
</p>

<p>
  <b>Contenido:</b>
  <%= @blog.contenido %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
